/* LOGIN PAGE CSS */

#App {
    height: 100vh;
    width: 100vw;
}

#mainPage {
    overflow-y: auto;
    margin-top: 60px;
    }

#loginDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 2px solid grey;
}

#loginPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.input {
    padding: 10px;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    border: 2px solid grey;
}

.submit {
    margin-top: 2rem;
    color: white;
    background-color: rgb(67, 67, 213);
    font-size: 2rem;
    border: none;
    transition: background-color 0.1s ease;
    border-radius: 5px;
    border: none;
}

.submit:hover {
    background-color: rgb(29, 29, 170);
}

/* HEADER */

#Header {
    background-color: rgb(156, 178, 231);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    width: 100vw;
    border-bottom: 2px gray solid;
    padding: 10px;
    justify-content: space-between;
    z-index: 1000;
}

#logoutButton {
    font-size: 1.2rem;
    margin: 0;
}

/* PERSONAL INFO BLOCK */

#myInfo {
    width: 100vw;
    display: flex;
}

#PersonalBlock {
    padding: 1rem;
    border: 2px solid grey;
    margin: 2rem;
    max-width: 100%;
}

#AuditBlock {
    max-width: 430px;
    padding: 15px;
    border: 2px solid grey;
    margin: 2rem;
    width: 40%;
    align-items: center;
    text-align: center;
}